html {
    font-size: 20px;
    /* color: #f55005; */
}

body {
    background-color: #f1f1f1;
}

header {
    height: 2rem;
    padding: 0.4rem;
}

nav {
    position: relative;
}

section {}

footer {
    background-color: gray;
}

.split-block {
    height: 0.8rem;
    background: #dadada;
}

.split-block-title {
    height: 2rem;
    background: #fafafa;
    border-bottom: 1px solid #efefef;
}

.icon {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    background-position: 0 0px;
    background-size: 1rem 1rem;
}

.icon-search {
    background-image: url(../img/search.png);
}

.icon-down {
    background-image: url(../img/caret-down.png);
}

.aside {
    float: left;
    width: 35%;
}

.article {
    float: right;
    width: 60%;
    padding-top: 1rem;
}