nav img {
    width: 100%;
}

nav .banner{
    height: 11.6rem;
}

nav .search {
    position: absolute;
    top: 0.5rem;
    width: 100%;
    text-align: center;
    height: 2rem;
}

nav .icon-search {
    vertical-align: middle;
    position: relative;
    left: 1.35rem;
}

nav input {
    border-radius: 0.4rem;
    height: 1.5rem;
    width: 60%;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    outline-color: invert;
    outline-style: none;
    outline-width: 0px;
    border: none;
    border-style: none;
    text-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: text;
    outline-color: transparent;
    box-shadow: none;
    padding-left: 1.2rem;
}

.condition {
    height: 2rem;
    width: 100%;
    font-size: 0.8rem;
}

.condition .cdt{
    display: inline-block;
    width: 23%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
}

section {
    height: 8rem;
}

section .aside img{
    padding: 0.5rem;
    height: 7rem;
    width: 7rem;
    border-radius: 0.5rem;
}